/* 		Silex base styles 			 */
body{
	margin:0px !important;
	padding:0px !important;
	font-family : Tahoma, Arial, Helvetica, sans-serif !important;
	background-color:white !important;
}
#_silex_container{
	z-index: -9999;
	padding: 0;
}
#_silex_menu{
}
#_silex_pagetool{
	min-width: 219px;
	float: left;
}
#_silex_csstool{
}
#_silex_stage{
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	left: 219px;
	z-index: -9999;
}
#_silex_body{
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	z-index: -9999;
}
#background{
	z-index: -9999;
	background-color: rgb(238, 238, 238);
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}
.row-fluid{
    position: absolute;
    z-index: -999999;	
}