
.component_0{
	background-color: rgba(255, 255, 255, 1); width: 600px; height: 500px; position: absolute; 
}
.component_1{
	background-color: rgba(255, 255, 255, 1); top: 100px; left: 100px; width: 100px; height: 100px; position: absolute; 
}
.component_2{
	background-color: rgba(255, 255, 255, 1); top: 100px; left: 100px; width: 100px; height: 100px; position: absolute; 
}
.component_3{
	background-color: rgba(255, 255, 255, 1); top: 100px; left: 100px; width: 100px; height: 100px; position: absolute; 
}
.component_4{
	top: 181px; left: 61px; width: 498px; height: 280px; position: absolute; 
}
body{
	0: background-color: transparent; top: ; left: ; width: ; height: ; bottom: ; right: ; z-index: ; position: absolute; ; 
}