doctype html
head
  include ./templates/head.jade

  // Silex styles and code
  link(rel='stylesheet', type='text/css', href='css/admin.css')
  script(type='text/javascript', src='js/admin.js')

body.loading-pending.advanced-mode-off
  include ./templates/body.jade

  // google closure css patches, to be included after the other includes
  link(rel='stylesheet', type='text/css', href='css/closure-patches.css')
  script(type='text/javascript', src='js/closure-patches.js')

  // debug script
  script(type='text/javascript', src='js/debug.js')

  // start Silex
  script(type='text/javascript').
    // debug mode
    silex.Config.debug.debugMode = true;
    // boot silex app
    silex.main_silex_app = new silex.App();
