doctype html
head
  block head-start

  style.
    .loading-pending .silex-workspace {
      opacity: 0;
    }
    body {
      background-color: #444;
    }

  block styles
    // all the css in the head with _styles.less imports
    link(rel='stylesheet', type='text/css', href='css/admin.css')

  block customizable-head
    title='Silex'
    meta(name='description', content='This is a public instance of Silex website builder. Build websites in the browser')
    link(rel="shortcut icon", href="assets/favicon.png")


  block head-end
    include ./templates/head.jade

body.loading-pending.advanced-mode-off
  block body-start
    include ./templates/body.jade


  block body-end
    script(type='text/javascript' src='js/index.js')

  block silex-init
    script.
      window.silex.init();

  block silex-options
    // Here you can use silex.config to hook into silex options before silex starts

  block silex-start
    script.
      window.silex.start();
