// All colors
// /!\ Duplicated in the grapesjs/index.ts too => keep in sync
$primaryColor: #333333 !default;
$secondaryColor: #ddd !default;
$tertiaryColor: #8873FE !default;
$quaternaryColor: #56E3FF !default;
$darkerPrimaryColor: #363636 !default;
$lighterPrimaryColor: #575757 !default;

$topBarHeight: 40px;
$projectBarWidth: 35px;
$projectPanelWidth: 13%;
$projectPanelMinWidth: 150px;
$viewsPanelWidth: 15%; // 15% is grapesjs default
$footerHeight: 30px;
$transitionSpeedMedium: .35s;
$transitionSpeedSlow: .5s;
$prefix: 'gjs-';
$pn-prefix: '#{$prefix}pn-';
$cv-prefix: '#{$prefix}cv-';
$z-dialog-inline: 10;
$z-loader: 10;

$fontFamily: 'Ubuntu', sans-serif;
