// All colors
// /!\ Duplicated in the grapesjs/index.ts too => keep in sync
$primaryColor: #333333;
$secondaryColor: #ddd;
$tertiaryColor: #8873FE;
$quaternaryColor: #A291FF;;
$darkerPrimaryColor: #292929;
$lighterPrimaryColor: #575757;

$topBarHeight: 40px;
$projectBarWidth: 35px;
$projectPanelWidth: 13%;
$projectPanelMinWidth: 150px;
$viewsPanelWidth: 25%; // 15% is grapesjs default
$viewsProjectPanelWidth: 13%;
$footerHeight: 30px;
$transitionSpeedMedium: .15s;
$transitionSpeedSlow: .30s;
$prefix: 'gjs-';
$pn-prefix: '#{$prefix}pn-';
$cv-prefix: '#{$prefix}cv-';
$z-dialog-inline: 10;
$z-loader: 10;
$z-views-options-buttons: 5;

$fontFamily: 'Ubuntu', sans-serif;

:root {
  --primaryColor: #{$primaryColor};
  --gjs-primary-color: #{$primaryColor} !important;
  --secondaryColor: #{$secondaryColor};
  --gjs-secondary-color: #{$secondaryColor} !important;
  --tertiaryColor: #{$tertiaryColor};
  --gjs-tertiary-color: #{$tertiaryColor} !important;
  --quaternaryColor: #{$quaternaryColor};
  --gjs-quaternary-color: #{$quaternaryColor} !important;
  --darkerPrimaryColor: #{$darkerPrimaryColor};
  --lighterPrimaryColor: #{$lighterPrimaryColor};
  --viewsPanelWidth: #{$viewsPanelWidth};
  --viewsProjectPanelWidth: #{$viewsProjectPanelWidth};
}
