/* uses styles from context-menu */

@breadPaddingTop: 7px;

.silex-bread-crumbs {
  .horizontal-menu();
  top: initial;
  padding-left: initial;
  bottom: 0;
  height: @breadCrumbsHeight;
  background-color: @silexlightergrey;
  div {
    display: inline-flex;
    height: @breadCrumbsHeight - @breadPaddingTop;
    position: relative;
    color: @silexdarkergrey;
    padding: @breadPaddingTop 10px 0 20px;
    margin-left: -10px;
    border-right: 1px solid @silexdarkergrey;
    border-radius: 10px;
    font-size: small;
    cursor: pointer;
  }
}

