@use "variables";
@use "mixins";

.silex-main {
  transition: opacity variables.$transitionSpeedMedium .5s ease;
}
.silex-dialog {
  transition: opacity variables.$transitionSpeedMedium ease;
}
.silex-dialog-hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity variables.$transitionSpeedMedium ease, visibility variables.$transitionSpeedSlow 1s ease;
}

.silex-dialog-inline {
  position: absolute;
  background-color: variables.$primaryColor;
  z-index: variables.$z-dialog-inline;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  header {
    padding: 10px;
  }
  main {
    flex-grow: 1;
    padding: 10px;
  }
  footer {
    padding: 10px;
    text-align: right;
  }
  a {
    color: variables.$quaternaryColor;
  }
  header > * {
    margin: 0;
  }
}
