.tip-of-the-day {
  transition: opacity .5s ease-out;

  &.hidden-dialog {
    opacity: 0;
    left: -1000px;
  }
  a {
    background-size: cover;
    background-position: 50%;
  }
  a:focus {
    outline: none;
  }
}
