{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "silex": true,
    "goog": true,
    "ga": true,
    "alertify": true,
    "ce": true,
    "Pixlr": true,
    "ace": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-unused-vars": 0,
    "no-loop-func": 0,
    "no-underscore-dangle": 0,
    "strict": 0,
    "camelcase": 0,
    "no-console": 0,
    "dot-notation": 0,
    "no-shadow": 0
  }
}
