
#noTrespassingOuterBarG{
height:13px;
width:100px;
border:1px solid #000000;
overflow:hidden;
background-color:#FFFFFF
}


.noTrespassingBarLineG{
background-color:#333333;
float:left;
width:9px;
height:75px;
margin-right:15px;
margin-top:-18px;
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

.noTrespassingAnimationG{
width:148px;
-moz-animation-name:noTrespassingAnimationG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:noTrespassingAnimationG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:noTrespassingAnimationG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:noTrespassingAnimationG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
animation-name:noTrespassingAnimationG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-timing-function:linear;
}

#noTrespassingFrontBarG{
}

@-moz-keyframes noTrespassingAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-24px;
}

}

@-webkit-keyframes noTrespassingAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-24px;
}

}

@-ms-keyframes noTrespassingAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-24px;
}

}

@-o-keyframes noTrespassingAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-24px;
}

}

@keyframes noTrespassingAnimationG{
0%{
margin-left:0px;
}

100%{
margin-left:-24px;
}

}
