.silex-page{
	display: none;
}
.background{
	position: relative !important;
	left: inherit !important;
	top: 0px !important; /* !important is useful while editing */
	margin-left: auto;
	margin-right: auto;
}
