.silex-propertiestool{
	position: absolute;
	right: 0;
	width: 250px;
	height: 95%;
}
.silex-propertiestool .main-container{
	padding: 5px;
	margin: 5px;
	height: 225px;
	overflow-y: auto;
}
/* pages */
.silex-propertiestool .pages-container .page-label{
	font-size: 13px;
	color: #555555;
	vertical-align: middle;
}
.silex-propertiestool .pages-container .page-check span{
	float: left;
}
.silex-propertiestool .link-small-btn{
	font-weight: lighter;
	font-size: x-small;
	color: blue;
	cursor: pointer;
}
.silex-propertiestool .link-small-btn:hover{
	text-decoration: underline;
}
/* link */
.silex-propertiestool .link-combo-box{
	font-size: small;
}
/* content */
.silex-propertiestool .image-url-input{
	float: left;
	margin-top: 2px;
	width: 185px;
}
/* position */
.silex-propertiestool .position-editor label{
	float: left;
	margin-top: 4px;
	margin-right: 2px;
	margin-left: 3px;
	width: 10px;
	text-align: right;

	color: #555555;
	font-size: 11px;
}
.silex-propertiestool .position-editor label.right-bottom{
	width: 25px
}
.silex-propertiestool .position-editor label.z-index-label{
	text-align: center;
	width: 69px;
}
.silex-propertiestool .position-editor label.new-line{
	clear: left;
}
.silex-propertiestool .position-editor input{
	width: 42px;
	height: 15px;

	padding-top: 2px;
	margin: 1px 0 0;

	float: left;

	border-style: inset;
	
	font-size: 12px;
	text-align: center;
}
/* input text fields */
.silex-propertiestool .link-input-text,
.silex-propertiestool input{
	background-color: white;
	border: 1px dotted;
	display: inherit;
	height: 22px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
.silex-propertiestool input.opacity-input{
	width: 47px;
}
/* buttons */
.silex-propertiestool .tab-page .button{
	text-align: center;
	font-size: 13px;
	width: 45%;
}
/* comboboxes */
.silex-propertiestool .tab-page label{
	display: block;
	margin: 4px 2px 0;
}
.silex-propertiestool .tab-page .border-placement-container label,
.silex-propertiestool .tab-page .corner-placement-container label{
	display: inline-block;
	float: left;
	margin: 4px 2px 0;
	width: 35%;
}
/*
.silex-propertiestool .combobox{
	text-align: center;
	font-size: 13px;
	width: 45%;
}
.silex-propertiestool .combobox .goog-menu-button-outer-box, 
.silex-propertiestool .combobox .goog-menu-button-inner-box{
	width: 100%;
}
*/
/* tabs */
.silex-propertiestool .goog-tab-bar {
	background-color: transparent;
	padding-left: 1px;
	position: absolute;
	top: 279px;
	width: 225px;
}
.silex-propertiestool .goog-tab-bar .goog-tab-selected{
	background-color: #f3f3f3;
}
.silex-propertiestool .goog-tab {
	color: black;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
}
.silex-propertiestool .tab-page {
	background-color: #F3F3F3;
	border-bottom: 1px solid #6B90DA;
	border-left: 1px solid #6B90DA;
	border-right: 1px solid #6B90DA;
	bottom: 10px;
	display: block;
	left: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5px;
	position: absolute;
	right: 10px;
	top: 310px;
}
.silex-propertiestool .tab-page fieldset {
	margin-top: 10px;
}
/* checkbox etc */
.silex-propertiestool fieldset {
	font-size: 13px;
}
.silex-propertiestool .goog-checkbox{
	float: left;
}
/* color text in hsv palette */
.silex-propertiestool .goog-hsva-palette-sm-input {
	font-size: 13px;
}
.silex-propertiestool .goog-hsva-palette-sm{
	overflow: hidden;
	max-width: 195px;
}

/* properties */
.silex-propertiestool h1,
.silex-propertiestool h2{
	background-color: #323232;
	border: 1px solid #323232;
	color: #FFFFFF;
	margin: 0;
	font-weight: bold;
}
.silex-propertiestool h1{
	padding: 10px 0 10px 12px;
	height: 15px;
	font-size: 15px;
}
.silex-propertiestool h2{
	padding: 5px 0 3px 6px;
	font-size: 12px;
}
.silex-propertiestool legend{
	font-size: 13px;
	padding: 0;
	font-weight: bold;
}
/* style editor */
.silex-propertiestool .style-container{
	bottom: 0;
}
/* color button */
.silex-propertiestool .color-button .goog-inline-block{
	display: block;
}
/* color button */
.silex-propertiestool .goog-color-menu-button-indicator{
	font-size: 12px;
	border-bottom-width: 10px;
}