.silex-propertiestool{
	position: absolute;
	right: 0;
	width: 250px;
	height: 95%;
}
.silex-propertiestool .main-container{
	padding: 5px;
	margin: 5px;
}
/* pages */
.silex-propertiestool .pages-container .page-label{
	font-size: 13px;
	color: #555555;
	vertical-align: middle;
}
.silex-propertiestool .pages-container .page-check span{
	float: left;
}
/* link */
.silex-propertiestool .link-combo-box{
	font-size: small;
}
.silex-propertiestool .link-input-text{
	background-color: white;
	border: 1px dotted;
	display: inherit;
	height: 30px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
/* buttons */
.silex-propertiestool .button{
	text-align: center;
	font-size: 13px;
}
/* tabs */
.silex-propertiestool .goog-tab-bar {
	background-color: transparent;
	padding-left: 1px;
}
.silex-propertiestool .goog-tab-bar .goog-tab-selected{
	background-color: #f3f3f3;
}
.silex-propertiestool .goog-tab {
	color: black;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
}
.silex-propertiestool .tab-page {
	background-color: #f3f3f3;
	display: block;
	border-left: 1px solid #6b90da;
	border-right: 1px solid #6b90da;
	border-bottom: 1px solid #6b90da;
	padding: 5px;
}
/* checkbox etc */
.silex-propertiestool fieldset {
	font-size: 13px;
	border: none;
	/* border-top: 1px solid; */
	border-left: 1px grey;
	border-left-style: dotted;
}
/* color text in hsv palette */
.silex-propertiestool .goog-hsva-palette-sm-input {
	font-size: 13px;
}
.silex-propertiestool .goog-hsva-palette-sm{
	overflow: hidden;
}

/* properties */
.silex-propertiestool h1,
.silex-propertiestool h2{
	background-color: #323232;
	border: 1px solid #323232;
	color: #FFFFFF;
	margin: 0;
	font-weight: bold;
}
.silex-propertiestool h1{
	padding: 10px 0 10px 12px;
	height: 15px;
	font-size: 15px;
}
.silex-propertiestool h2{
	padding: 5px 0 3px 6px;
	font-size: 12px;
}
.silex-propertiestool legend{
	font-size: 13px;
	padding: 0;
	font-weight: bold;
}
/* color button */
.silex-propertiestool .color-bg-button .goog-inline-block{
	display: block;
}
/* color button */
.silex-propertiestool .goog-color-menu-button-indicator{
	font-size: 12px;
	border-bottom-width: 10px;
}
/* color palette */
.silex-propertiestool .color-bg-palette{
	
}