
/* override default bootstrap css */
.navbar-inner{
	background-color: white;
	background-image: none;

}
.well {
	background: inherit;
	border: none;
}
.hero-unit{
	xposition: inherit;
	xheight: 600px;
	margin: 0;
	padding: 0;
	background: white;
}
/* 		Silex base styles 			 */
.main-ui-container{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#_silex_stage {
/*    margin-top: 100px; /* height of the menu => offset for silex stage */
	height: 100%;
	overflow: auto;
	position: absolute;
}
/* styles for Silex UIs */

/* left sidebar */
.sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:100px;
    width:219px;
    height: 95%;
	overflow: auto;
}
/* properties box */
.sidebar-right-fixed {
    padding: 9px 0;
    position:fixed;
    right:20px;
    top:100px;
    width:219px;
    height: 95%;
	overflow: auto;
}
.navbar .brand {
    float: none;
    margin-top: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
    max-width: 649px;
	opacity: .5;
	cursor: pointer;
	color: black;
	font: italic 24px arial,sans-serif;
	padding-bottom: 0;
}
.row-fluid > .span-fixed-sidebar {
    margin-left: 259px;
    min-height: 0;
    top:100px;
}



