/**
 * This file holds the basic CSS styles of Silex websites
 */

/* the body covers the whole available space */
/* the body is resized to its content size when needed in front-end.js */
body{
  min-width: 99%;
  min-height: 99%;
  position: absolute;
  padding: 5px;
}
/* pages */
.page-element{
  display: none;
}
.paged-element{
  display: none;
}
/* default style for silex elements */
.editable-style{
  position: absolute;
}
.silex-element-content{
  overflow: hidden;
  border-radius: inherit;
}
/* background */
.background{
  position: relative !important;
  left: 0 !important;
  top: 0 !important; /* !important is useful while editing */
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
/* links default formatting */
.editable-style[data-silex-href]{
  cursor: pointer;
}
.text-element a, a.text-element{
  color: inherit;
  text-decoration: inherit;
}
.text-element a:hover, a.text-element:hover{
  color: inherit;
  text-decoration: underline;
}
/* Remove dots surrounding links in Firefox
    because of normalize.css */
a:focus{ outline: none;}

.silex-element-content {
  width: 100%;
  height: 100%;
}

/* Mobile styles */
.nav-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 75%;
  height: auto;
  left: -75%;
  transition: left .1s ease-out;
}

.silex-pages .menu-button {
  width: 50px;
  height: 50px;
  left: 110%;
  top: 30px;
  background-image: url('/assets/hamburger.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  cursor: pointer;
}

@media (max-width:400px) {
  .silex-pages {
    position: absolute;
    z-index: 999999;
    width: 80%;
    height: 100%;
    background-color: red;
    right: 100%;
    transition: right 1s;
  }
  .show-mobile-menu .silex-pages {
    right: 20%;
  }
  .page-element {
    display: block;
    cursor: pointer;
  }
  .nav-opened .nav-bar {
    left: 0;
  }
  body.enable-mobile .editable-style,
  body.enable-mobile .background.background-initial,
  body.enable-mobile {
    xposition: static !important;
      position: relative !important;
      top: auto !important;
      left: auto !important;
    display: inline-block !important;
    max-width: 98% !important;
    xheight: auto !important;
    min-width: initial !important;
    min-height: initial !important;
  }
  /* nav bar */
  body.enable-mobile .nav-bar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    z-index: 9999;
    border-style: solid;
    border-width: 0 1px 0 0;

    background-color: #f8f8f8;
    border-color: #e7e7e7;

  }
  .nav-bar-items {
    overflow-y: auto;
  }
  .nav-bar-items > * {
    display: block;
    color: #777;
    padding: 10px 15px;
    margin: 10px 0;
  }
  .nav-bar-items > title {
    font-size: 18px;
    line-height: 20px;
  }
  .nav-bar-items > a {
    text-decoration: initial;
    font-size: 14px;
    line-height: 10px;
  }
  .nav-bar-items > .page-link-active {
    color: #555;
    background-color: #e7e7e7;
  }
  .silex-nav-bar-button {
    width: 40px;
    height: 30px;
    position: absolute;
    left: 100%;
    top: 20px;
    margin-left: 20px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #e7e7e7;
  }
  .silex-nav-bar-button img {
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-top: 6px;
  }
}

