<!-- styles --
<link rel="stylesheet" href="css/closure/menubar.css">
<link rel="stylesheet" href="css/closure/menu.css">
<link rel="stylesheet" href="css/closure/menuitem.css">
<link rel="stylesheet" href="css/closure/menuseparator.css">
<!-- styles -->
<link rel="stylesheet" href="css/closure/menu.css">
<link rel="stylesheet" href="css/closure/menubar.css">
<link rel="stylesheet" href="css/closure/menubutton.css">
<link rel="stylesheet" href="css/closure/menuitem.css">
<link rel="stylesheet" href="css/closure/menuseparator.css">

<link rel="stylesheet" href="css/menu.css">

<a class="website-name">Untitled website</a>
<!--
<div class="login-text">
	<p>Connected to Dropbox as <a href="#">Alex Hoyau</a></p>
	<p>Connected to Google Drive as <a href="#">alexandre@gmail.com</a></p>
</div>
-->