<link rel="stylesheet" href="css/texteditor.css">
<link rel="stylesheet" href="css/closure/button.css" />
<link rel="stylesheet" href="css/closure/dialog.css" />
<link rel="stylesheet" href="css/closure/linkbutton.css" />
<link rel="stylesheet" href="css/closure/menu.css">
<link rel="stylesheet" href="css/closure/menuitem.css">
<link rel="stylesheet" href="css/closure/menuseparator.css">
<link rel="stylesheet" href="css/closure/tab.css" />
<link rel="stylesheet" href="css/closure/tabbar.css" />
<link rel="stylesheet" href="css/closure/toolbar.css" />
<link rel="stylesheet" href="css/closure/colormenubutton.css" />
<link rel="stylesheet" href="css/closure/palette.css" />
<link rel="stylesheet" href="css/closure/colorpalette.css" />

<link rel="stylesheet" href="css/closure/editor/bubble.css" />
<link rel="stylesheet" href="css/closure/editor/dialog.css" />
<link rel="stylesheet" href="css/closure/editor/linkdialog.css" />
<link rel="stylesheet" href="css/closure/editortoolbar.css" />

<div class="toolbar"></div>
<div class="text-field"></div>
<div class="close-btn"></div>
