body{
	overflow: hidden;
}
.background{
	position: relative !important;
	left: inherit !important;
	top: 0px !important; /* !important is useful while editing */
}
/* loading */
body.loading-pending>*{
	visibility: hidden;
}
body .loader{
	display: none;
}
body.loading-pending .loader{
	display: inherit;
	visibility: inherit;
	left: 45%;
	position: absolute;
	top: 50%;
}
/* ****** */
.dialogs-background{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	opacity: .5;
	display: none;
	z-index: 100; /* 110 for editors and 120 for dialogs */
	cursor: pointer;
}
.modal-dialog{
	z-index: 120; /* 100 for bg */	
}

/* store google images lovcally */
.goog-toolbar-menu-button-dropdown, .tr-icon {
	/* Client apps may override the URL at which they serve the sprite. */
	background-image: url(../assets/ui/editortoolbar.png);
}

/* advanced mode */
.advanced-mode-off .advanced-only{
	display: none;
}