.silex-htmleditor{
	position: absolute;
	width: 90%;
	height: 90%;
	display: none;
	z-index: 110; /* 100 for bg */	
}
.silex-htmleditor .title-bar{
	border-top: 1px solid #E5E5E5;
	font-size: 20px;
	height: 20px;
	padding: 17px 20px;
	background-color: white;
}
.silex-htmleditor .ace-editor{
	width: 100%;
	height: 90%;
	position: inherit;
}
.silex-htmleditor .close-btn{
	background-image: url("../assets/ui/close.png");
	cursor: pointer;
	height: 38px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 39px;
}
div.tr_bubble{
	z-index: 999 !important;
}