.loader
  .noTrespassingOuterBarG
    .noTrespassingFrontBarG.noTrespassingAnimationG
      .noTrespassingBarLineG
      .noTrespassingBarLineG
      .noTrespassingBarLineG
      .noTrespassingBarLineG
      .noTrespassingBarLineG
      .noTrespassingBarLineG

include ./workspace.jade
