block dashboard-header
  .header
    img.silex-logo-small(src='assets/logo-silex-small.png')
    h1.title
      | Silex Dashboard
    button.close-btn(type="button")
    a.help-btn(href="https://github.com/silexlabs/Silex/wiki/Editor-UI#dashboard", target="_blank", title="About Silex Dashboard")
      span.icon.fa.fa-inverse.fa-info-circle
      span.label Help
.body
  .top
    .pane.open-pane
      h2 Open an existing website
      ul.list
      .btn.more-btn Import...
      .btn.clear-btn Clear this list
    block dashboard-adunit
      .pane.info-pane.tip-of-the-day
        .container
  //- .pane.blank-page-pane
  //-   h2 Blank layouts
  //-   ul.rendered-list.small-items
  block dashboard-templates
    .pane.general-pane
      h2 Start with a template
      ul.rendered-list
