title Silex

// google anal
script(async='', src='//www.google-analytics.com/analytics.js')
script(type='text/javascript').
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-19608894-18', 'silex.me');
  ga('send', 'pageview');

// Normalize
link(href='libs/normalize.css', rel='stylesheet')

// google closure
link(rel='stylesheet', type='text/css', href='css/closure/common.css')

// jquery related lib
link(rel='stylesheet', type='text/css', href='libs/jquery/jquery-ui.css')
script(type='text/javascript', src='libs/jquery/jquery.js')
script(type='text/javascript', src='libs/jquery/jquery-ui.js')
script(type='text/javascript', src='libs/jquery/jquery.ui.touch-punch.min.js')
script(type='text/javascript', src='libs/jquery/editable.js')
script(type='text/javascript', src='libs/jquery/pageable.js')

// alertify.js
script(type='text/javascript', src='libs/alertify/alertify.min.js')
link(rel='stylesheet', href='libs/alertify/alertify.core.css')
link(rel='stylesheet', href='libs/alertify/alertify.bootstrap.css')

// ace
script(type='text/javascript', src='libs/ace/ace.js')

// Cloud explorer
script(type='text/javascript', src='libs/angular.js')
script(type='text/javascript', src='libs/angular-resource.js')
script(type='text/javascript', src='../cloud-explorer/app/js/cloud-explorer.js')

// Silex front end css
link(rel='stylesheet', href='css/front-end.css')
