title Silex

// analytics
script(type='text/javascript').
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//lexoyo.piwikpro.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 3]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();

// alertify.js
script(type='text/javascript', src='libs/alertify/alertify.min.js')

// prodotype
script(type='text/javascript', src='libs/prodotype/prodotype.js')

// source map
script(type='text/javascript', src='libs/source-map.min.js')

// ace
script(type='text/javascript', src='libs/ace/ace.js')
script(type='text/javascript', src='libs/ace/ext-language_tools.js')

// Cloud explorer
script(type='text/javascript', src='libs/cloud-explorer/scripts/cloud-explorer.js')

// favicon
link(rel="shortcut icon", href="assets/favicon.png")

// pixlr editor
// script(type='text/javascript', src='libs/pixlr/pixlr.js')

// html beautifyer
script(type='text/javascript', src='libs/beautify-html.js')
