.dialog
  .header
    h1.title
      | New website
      button.close-btn(type="button")
  .body
    .left-pane
      ul.tree
        li.blank-page-pane(data-pane="blank-page-pane") Blank website
        li.general-pane(data-pane="general-pane") Community templates
    .right-pane
      .pane.general-pane
        ul
      .pane.blank-page-pane
        ul
