.dialog
  .header
    h1.title
      | New website
      button.close-btn(type="button")
  .body
    .pane.blank-page-pane
      h2 Blank layouts
      ul
    .pane.general-pane
      h2 Community templates
      ul
