.dialog
  .header
    h1.title
      | New website
      button.close-btn(type="button")
  .body
    .left-pane
      ul.tree
        li.blank-page-pane(data-pane="blank-page-pane") Start from a blank page
        li.general-pane(data-pane="general-pane") From <i>templates.silex.me</i>
    .right-pane
      .pane.general-pane
        ul.templates
