.header
  h1.title
    | Create a website
  button.close-btn(type="button")
  a.help-btn.fa.fa-inverse.fa-info(href="https://github.com/silexlabs/Silex/wiki/start-a-new-website", target="_blank") Help
.body
  .top
    .pane.open-pane
      h2 Open an existing website
      ul.list
      .btn.more-btn Import...
      .btn.clear-btn Clear this list
    .pane.info-pane.tip-of-the-day
      h2 Info
      .container
  .pane.blank-page-pane
    h2 Blank layouts
    ul.rendered-list.small-items
  .pane.general-pane
    h2 Community templates
    ul.rendered-list
