script.page-tool-template(type="text/x-handlebars-template").
  <a class="page-container {{className}}"
    data-page-name="{{id}}"
    data-page-idx="{{idx}}"
    title="{{shortcutText}}"
    >
    <div class="page-preview xsmall-font">
      <div class="page-icon page-handle fa fa-arrows" title="Drag to reoder pages"></div>
      <div class="page-icon page-properties fa fa-cog" title="Page settings (Alt R)"></div>
      <div class="page-icon page-delete fa fa-trash" title="Delete page"></div>
      <div class="label">{{displayName}}</div>
    </div>
  </a>
.label
  span Pages
  .add-page.fa.fa-lg.fa-inverse.fa-plus-square(title="Add a page")
.page-tool-container

