.tabs
  .tab.design.fa.fa-lg.fa-paint-brush.on
  .tab.params.fa.fa-lg.fa-cog
.main-container
  span.position-editor.editor-container
    .expandable
      legend
        span.fa.fa-fw.fa-inverse.fa-caret-right
        span Position and size
      .body
        div.two-col
          label X
          label W
        div.two-col
          .input-with-unit
            input.position-input.left-input(placeholder='-', type='number', tabindex='1')
            label.unit PX
          .input-with-unit
            input.position-input.width-input(placeholder='-', type='number', tabindex='3', min='0')
            label.unit PX
        div.two-col
          label Y
          label H
        div.two-col
          .input-with-unit
            input.position-input.top-input(placeholder='-', type='number', tabindex='2')
            label.unit PX
          .input-with-unit
            input.position-input.height-input(placeholder='-', type='number', tabindex='4', min='0')
            label.unit PX

  span.seo-editor.old-advanced-only.editor-container
    .expandable
      legend
        span.fa.fa-fw.fa-inverse.fa-caret-right
        span SEO (search engines)
      .body
        label.alt-label Alt (images only)
        input.alt-input(placeholder='-', type='text')
        label.title-label Title and tooltip
        input.title-input(placeholder='-', type='text')


  span.page-editor.editor-container
    script.pages-selector-template(type='text/x-handlebars-template')
      <div class='page-container'>
      <input class='page-check checkbox' type='checkbox' id='{{name}}' />
      <label class='page-label xsmall-font' for='{{name}}' >{{displayName}}</label>
      </div>

    script.link-template(type='text/x-handlebars-template')
      <option value='{{linkName}}'>{{displayName}}</option>

    .expandable
      legend
        span.fa.fa-fw.fa-inverse.fa-caret-right
        span Visible on
      .body
        .view-on-mobile
          input#mobile.view-on-mobile-check.checkbox(type='checkbox')
          label.view-on-mobile-label.xsmall-font(for='mobile')
            | mobile version
          hr
        .view-on-allpages
          input#allpages.view-on-allpages-check.checkbox(type='checkbox')
          label.view-on-allpages-label.xsmall-font(for='allpages')
            | all pages
        .pages-container
    .expandable
      legend
        span.fa.fa-fw.fa-inverse.fa-caret-right
        span Link
      .body
        select.link-combo-box.combobox
        input.link-input-text(placeholder='-', type='text')

  span.style-container
    span.tab-page
      .general-editor.editor-container
        .expandable.opacity-property.old-advanced-only
          legend
            span.fa.fa-fw.fa-inverse.fa-caret-right
            span Opacity
            small  in %
          .body
            input.opacity-input(placeholder='-', type='number', min='0', max='100')

      .background-editor.editor-container
        .expandable.background-property
          legend
            span.fa.fa-fw.fa-inverse.fa-caret-right
            span Background Color
          .body
            .color-edit-container
              label.color-edit-label.alpha Alpha
              input.color-edit-text-input.color-opacity-input(placeholder='-', type='number', min='0', max='100')
              input.color-edit-color-input.color-button.color-button(type='color', defaultValue='rgba(0, 0, 0, 1)', placeholder='-')
              input.color-edit-transparent-check(type='checkbox', indeterminate='true')
              input.enable-color-bg-button.checkbox(type='checkbox')
              label.color-edit-label Transparent
        .expandable.background-image
          legend
            span.fa.fa-fw.fa-inverse.fa-caret-right
            span Background Image
          .body
            div
              .button.bg-image-button Select image
              .button.clear-bg-image-button Clear image
            div
              select.bg-position-h-combo-box.combobox
                  option(value='left') left
                  option(value='center') center
                  option(value='right') right
              select.bg-position-v-combo-box.combobox
                  option(value='top') top
                  option(value='center') center
                  option(value='bottom') bottom
            .background-image
              select.bg-attachment-combo-box.combobox
                  option(value='scroll', title='The background scrolls along with the element') scroll
                  option(value='fixed', title='The background is fixed with regard to the viewport') fixed
              select.bg-repeat-combo-box.combobox
                  option(value='repeat', title='The background image is repeated both vertically and horizontally') repeat
                  option(value='repeat-x', title='The background image is only repeated horizontally') repeat-x
                  option(value='repeat-y', title='The background image is only repeated vertically') repeat-y
                  option(value='no-repeat', title='The background-image is not repeated') no-repeat
              select.bg-size-combo-box.combobox
                  option(value='auto', title='The background image is not resized') auto
                  option(value='contain', title='The background image is scaled so that the whole image is visible') contain
                  option(value='cover', title='The background image is scaled so that it completely covers the element') cover
      .border-editor.editor-container
        .expandable.border-property
          legend
            span.fa.fa-fw.fa-inverse.fa-caret-right
            span Border
          .body
            .color-edit-container
              label.color-edit-label Alpha
              input.color-edit-text-input.color-opacity-input.color-border-opacity-input(placeholder='-', type='number', min='0', max='100')
              input.color-edit-color-input.color-border-button.color-button(type='color', defaultValue='rgba(0, 0, 0, 1)', placeholder='-')
              input.color-edit-transparent-check(type='checkbox', indeterminate='true')
              label.color-edit-label Transparent
            .border-width-container
              label.border-width-label Width
              label.border-type-label Style
              input.border-width-input(placeholder='-', type='number', min='0')
              select.border-type-combo-box.combobox
                option(value='solid') solid
                option(value='dotted') dotted
                option(value='dashed') dashed
                option(value='double') double
                option(value='groove') groove
                option(value='ridge') ridge
                option(value='inset') inset
                option(value='outset') outset
            .border-placement-container.old-advanced-only
              .half-col
                input.top.border-placement-check.checkbox(type='checkbox')
                label.border-placement-label Top
              .half-col
                input.left.border-placement-check.checkbox(type='checkbox')
                label.border-placement-label Left
              .half-col
                input.bottom.border-placement-check.checkbox(type='checkbox')
                label.border-placement-label Bottom
              .half-col
                input.right.border-placement-check.checkbox(type='checkbox')
                label.border-placement-label Right
            .border-radius-container
              .border-radius-width-container
                label.border-radius-label Radius
                input.corner-radius-input(placeholder='-', type='number', min='0')
              .corner-placement-container.old-advanced-only
                .half-col
                  input.top-left.corner-placement-check.checkbox(type='checkbox')
                  label.corner-placement-label Top Left
                .half-col
                  input.top-right.corner-placement-check.checkbox(type='checkbox')
                  label.corner-placement-label Top Right
                .half-col
                  input.bottom-left.corner-placement-check.checkbox(type='checkbox')
                  label.corner-placement-label Btm Left
                .half-col
                  input.bottom-right.corner-placement-check.checkbox(type='checkbox')
                  label.corner-placement-label Btm Right
      .style-editor.editor-container
        .expandable.style-property.old-advanced-only
          legend
            span.fa.fa-fw.fa-inverse.fa-caret-right
            span Styles
          .body
            label CSS classes
              a.help-icon(href='https://github.com/silexlabs/Silex/issues/184#properties-css-panel', title='about Silex and CSS', target='_blank') Help
            input.style-css-classes-input(placeholder='-', type='text')
            .element-style-editor.editor-container
  span.component-editor.editor-container

