.tabs(data-simplebar)
  .tab.design.fa.fa-lg.fa-pencil.on
  .tab.style.fa.fa-lg.fa-paint-brush
  .tab.params.fa.fa-lg.fa-cog
.main-container
  section.position-editor.editor-container
    .expandable
      legend
        span.fa.fa-fw.fa-inverse.fa-caret-right
        span Position and size
      .body
        .two-col
          label X
          label W
        .two-col
          .input-with-unit
            input.position-input.left-input(tabindex='1', placeholder='-', type='number')
            label.unit PX
          .input-with-unit
            input.position-input.width-input(tabindex='3', placeholder='-', type='number', min='0')
            label.unit PX
        .two-col
          label Y
          label H
        .two-col
          .input-with-unit
            input.position-input.top-input(tabindex='2', placeholder='-', type='number')
            label.unit PX
          .input-with-unit
            input.position-input.height-input(tabindex='4', placeholder='-', type='number', min='0')
            label.unit PX
    .expandable
      legend
        span.fa.fa-fw.fa-inverse.fa-caret-right
        span Layout
      .body
        label.full-width Position
        select.position-select.combobox(tabindex='5')
          option(value='')
          option(value='absolute') Absolute
          option(value='static') Automatic
        hr
        label.full-width Content flow
        select.display-select.combobox(tabindex='6')
          option(value='')
          option(value='block') Normal
          option(value='flex') Flex
        label.full-width Flex content flow
        .two-col
          div
            label Direction
            label Wrap
          div
            select.flex-direction-select.combobox(tabindex='7')
              option(value='')
              option(value='row') Row
              option(value='column') Column
              option(value='row-reverse') Row reverse
              option(value='column-reverse') Column reverse
            select.flex-wrap-select.combobox(tabindex='8')
              option(value='')
              option(value='nowrap') No wrap
              option(value='wrap') Wrap
              option(value='wrap-reverse') Wrap reverse
          div
            label Vertical
            label Horizontal
          div
            select.align-items-select.combobox(tabindex='9')
              option(value='')
              option(value='normal') Normal
              option(value='stretch') Stretch
              option(value='center') Center
              option(value='start') Start
              option(value='end') End
              option(value='flex-start') Flex start
              option(value='flex-end') Flex end
            select.justify-content-select.combobox(tabindex='10')
              option(value='')
              option(value='normal') Normal
              option(value='stretch') Stretch
              option(value='center') Center
              option(value='start') Start
              option(value='end') End
              option(value='flex-start') Flex start
              option(value='flex-end') Flex end
              option(value='left') Left
              option(value='right') Right
              option(value='space-between') Space between
              option(value='space-around') Space around
              option(value='space-evenly') Space evenly
        hr
        span Margin
        .two-col
          label Left
          label Right
        .two-col
          .input-with-unit
            input.position-input.margin-left-input(placeholder='-', type='number', tabindex='11')
            label.unit PX
          .input-with-unit
            input.position-input.margin-right-input(placeholder='-', type='number', tabindex='14', min='0')
            label.unit PX
        .two-col
          label Top
          label Bottom
        .two-col
          .input-with-unit
            input.position-input.margin-top-input(placeholder='-', type='number', tabindex='13')
            label.unit PX
          .input-with-unit
            input.position-input.margin-bottom-input(placeholder='-', type='number', tabindex='15', min='0')
            label.unit PX
      .body
        span Padding
        .two-col
          label Left
          label Right
        .two-col
          .input-with-unit
            input.position-input.padding-left-input(placeholder='-', type='number', tabindex='12')
            label.unit PX
          .input-with-unit
            input.position-input.padding-right-input(placeholder='-', type='number', tabindex='16', min='0')
            label.unit PX
        .two-col
          label Top
          label Bottom
        .two-col
          .input-with-unit
            input.position-input.padding-top-input(placeholder='-', type='number', tabindex='17')
            label.unit PX
          .input-with-unit
            input.position-input.padding-bottom-input(placeholder='-', type='number', tabindex='18', min='0')
            label.unit PX

  section.seo-editor.old-advanced-only.editor-container
    .expandable
      legend
        span.fa.fa-fw.fa-inverse.fa-caret-right
        span SEO &amp; Accessibility
      .body
        label.tag-name-label(for='tag-name-input') Tag Name
        select#tag-name-input
          option(value='', disabled=true) -
          option(value='SECTION') SECTION
          option(value='DIV') DIV
          option(value='ADDRESS') ADDRESS
          option(value='ARTICLE') ARTICLE
          option(value='ASIDE') ASIDE
          option(value='DETAILS') DETAILS
          option(value='SUMMARY') SUMMARY
          option(value='FOOTER') FOOTER
          option(value='HEADER') HEADER
          option(value='H1') H1
          option(value='H2') H2
          option(value='H3') H3
          option(value='H4') H4
          option(value='H5') H5
          option(value='H6') H6
          option(value='HGROUP') HGROUP
          option(value='MAIN') MAIN
          option(value='NAV') NAV
          option(value='BLOCKQUOTE') BLOCKQUOTE
          option(value='DD') DD
          option(value='DL') DL
          option(value='DT') DT
          option(value='FIGCAPTION') FIGCAPTION
          option(value='FIGURE') FIGURE
          option(value='MAIN') MAIN
          option(value='P') P
          option(value='PRE') PRE
        br
        br
        label.alt-label(for='alt-input') Alt (images only)
        input#alt-input(tabindex='19', placeholder='-', type='text')
        label.title-label(for='title-input') Title and tooltip
        input#title-input(tabindex='20', placeholder='-', type='text')


  section.page-editor.editor-container
    .expandable
      legend
        span.fa.fa-fw.fa-inverse.fa-caret-right
        span Visible on
      .body
        .view-on-mobile
          input#mobile.checkbox(tabindex='21', type='radio', name='visibility', value='mobile')
          label.xsmall-font(for='mobile') mobile
          input#desktop.checkbox(tabindex='22', type='radio', name='visibility', value='desktop')
          label.xsmall-font(for='desktop') desktop
          input#both.checkbox(tabindex='23', type='radio', name='visibility', value='both')
          label.xsmall-font(for='both') both
          hr
        .view-on-allpages
          input#allpages.view-on-allpages-check.checkbox(tabindex='24', type='checkbox')
          label.view-on-allpages-label.xsmall-font(for='allpages')
            | all pages
        .pages-container
    .expandable
      legend
        span.fa.fa-fw.fa-inverse.fa-caret-right
        span Link
      .body.link-pane
        input.link-state(placeholder='-', type='text', readonly)
        input.link-button(tabindex='25', type='button', value='Edit')

  section.style-container
    span.tab-page
      .general-editor.editor-container
        .expandable.opacity-property.old-advanced-only
          legend
            span.fa.fa-fw.fa-inverse.fa-caret-right
            span Opacity
            small  in %
          .body
            input.opacity-input(tabindex='26', placeholder='-', type='number', min='0', max='100')

      .background-editor.editor-container
        .expandable.background-property
          legend
            span.fa.fa-fw.fa-inverse.fa-caret-right
            span Background Color
          .body
            .color-edit-container
              label.color-edit-label.alpha Alpha
              input.color-edit-text-input.color-opacity-input(tabindex='27', placeholder='-', type='number', min='0', max='100')
              input.color-edit-color-input.color-button.color-button(tabindex='28', type='color', defaultValue='rgba(0, 0, 0, 1)', placeholder='-')
              input#bgtransp.color-edit-transparent-check(tabindex='29', type='checkbox', indeterminate='true')
              label.color-edit-label(for='bgtransp') Transparent
        .expandable.background-image
          legend
            span.fa.fa-fw.fa-inverse.fa-caret-right
            span Background Image
          .body
            div
              input.button.bg-image-button(tabindex='30', type='button', value='Select image')
              input.button.clear-bg-image-button(tabindex='31', type='button', value='Clear image')
            div
              select.bg-position-h-combo-box.combobox
                  option(value='left') left
                  option(value='center') center
                  option(value='right') right
              select.bg-position-v-combo-box.combobox
                  option(value='top') top
                  option(value='center') center
                  option(value='bottom') bottom
            .background-image
              select.bg-attachment-combo-box.combobox
                  option(value='scroll', title='The background scrolls along with the element') scroll
                  option(value='fixed', title='The background is fixed with regard to the viewport') fixed
              select.bg-repeat-combo-box.combobox
                  option(value='repeat', title='The background image is repeated both vertically and horizontally') repeat
                  option(value='repeat-x', title='The background image is only repeated horizontally') repeat-x
                  option(value='repeat-y', title='The background image is only repeated vertically') repeat-y
                  option(value='no-repeat', title='The background-image is not repeated') no-repeat
              select.bg-size-combo-box.combobox
                  option(value='auto', title='The background image is not resized') auto
                  option(value='contain', title='The background image is scaled so that the whole image is visible') contain
                  option(value='cover', title='The background image is scaled so that it completely covers the element') cover
      .border-editor.editor-container
        .expandable.border-property
          legend
            span.fa.fa-fw.fa-inverse.fa-caret-right
            span Border
          .body
            .border-width-container
              label.border-width-label Width
              label.border-type-label Style
              input.border-width-input(tabindex='32', placeholder='-', type='number', min='0')
              select.border-type-combo-box.combobox
                option(value='solid') solid
                option(value='dotted') dotted
                option(value='dashed') dashed
                option(value='double') double
                option(value='groove') groove
                option(value='ridge') ridge
                option(value='inset') inset
                option(value='outset') outset
            .color-edit-container
              label.color-edit-label Alpha
              input.color-edit-text-input.color-opacity-input.color-border-opacity-input(tabindex='33', placeholder='-', type='number', min='0', max='100')
              input.color-edit-color-input.color-border-button.color-button(tabindex='34', type='color', defaultValue='rgba(0, 0, 0, 1)', placeholder='-')
              input#bordertransp.color-edit-transparent-check(tabindex='35', type='checkbox', indeterminate='true')
              label.color-edit-label.alpha(for='bordertransp') Transparent
            .border-placement-container.old-advanced-only
              .half-col
                input#topplacement.top.border-placement-check.checkbox(tabindex='36', type='checkbox')
                label.border-placement-label(for='topplacement') Top
              .half-col
                input#leftplacement.left.border-placement-check.checkbox(tabindex='37', type='checkbox')
                label.border-placement-label(for='leftplacement') Left
              .half-col
                input#bottomplacement.bottom.border-placement-check.checkbox(tabindex='38', type='checkbox')
                label.border-placement-label(for='bottomplacement') Bottom
              .half-col
                input#rightplacement.right.border-placement-check.checkbox(tabindex='39', type='checkbox')
                label.border-placement-label(for='rightplacement') Right
            .border-radius-container
              .border-radius-width-container
                label.border-radius-label Radius
                input.corner-radius-input(tabindex='40', placeholder='-', type='number', min='0')
              .corner-placement-container.old-advanced-only
                .half-col
                  input#topleftplacementradius.top-left.corner-placement-check.checkbox(tabindex='41', type='checkbox')
                  label.corner-placement-label(for='topleftplacementradius') Top Left
                .half-col
                  input#toprightplacementradius.top-right.corner-placement-check.checkbox(tabindex='42', type='checkbox')
                  label.corner-placement-label(for='toprightplacementradius') Top Right
                .half-col
                  input#bottomleftplacementradius.bottom-left.corner-placement-check.checkbox(tabindex='43', type='checkbox')
                  label.corner-placement-label(for='bottomleftplacementradius') Btm Left
                .half-col
                  input#bottomrightplacementradius.bottom-right.corner-placement-check.checkbox(tabindex='44', type='checkbox')
                  label.corner-placement-label(for='bottomrightplacementradius') Btm Right
      .style-editor.editor-container
        .expandable.style-property.old-advanced-only
          legend
            span.fa.fa-fw.fa-inverse.fa-caret-right
            span Element
          .body
            label CSS classes
              a.help-icon(href='https://github.com/silexlabs/Silex/wiki/Silex-CSS-editor#custom-css-classes', title='about Silex and CSS, custom css classes', target='_blank') Help
            input.style-css-classes-input(tabindex='45', type='tags')
            br
            label HTML attributes
              a.help-icon(href='https://github.com/silexlabs/Silex/wiki/Silex-CSS-editor#html-attributes', placeholder='-', title='about Silex and CSS, custom attributes', target='_blank') Help
            input.style-css-attr-input(tabindex='45', type='text')
            .element-style-editor.editor-container
  section.component-generic-editor
  section.tree-editor
  section.prodotype-component-editor.editor-container
  section.prodotype-style-editor.editor-container
    .expendable.prodotype-style-editor-menu
      label.class-name-style-label(for='class-name-style-combo-box')
        span Style name:
        select#pseudoclass-style-combo-box.pseudoclass-style-combo-box.combobox
      .class-name-block
        input#visibility-style-checkbox.visibility-style-checkbox.hidden(tabindex='46', type='checkbox')
        label.visibility-style-label.fa-fw.icon.fa-inverse.fa-mobile.expandable(for='visibility-style-checkbox', title='Mobile only')
        select#class-name-style-combo-box.class-name-style-combo-box.combobox

      p.selection-info-container
        span.dot.fa.fa-circle
        span.on-page 2 on this page (<span>select</span>),
        span.total 5 total (<span>select</span>)

      .add-style.icon-btn.icon-btn-left.icon-btn-first(title='Add a style.') <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><defs><style>.cls-1 {fill: #e5e5e5;}</style></defs><path id='Union_18' data-name='Union 18' class='cls-1' d='M4,10V6H0V4H4V0H6V4h4V6H6v4Z'/></svg>
      .edit-style.icon-btn.icon-btn-left(title='Rename the current style.') <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10.007'><defs><style>.cls-1 {fill: #e5e5e5;fill-rule: evenodd;}</style></defs><path id='editA' class='cls-1' d='M7.43,0a.67.67,0,0,0-.475.2L9.8,3.05a.671.671,0,0,0,0-.95L7.9.2A.67.67,0,0,0,7.43,0ZM9.8,3.05,6.955.2,1.5,5.655,4.351,8.508,9.8,3.05ZM.707,7.315c-.118.334-.252.736-.4,1.226,0,.017-.01.034-.016.051-.013.043-.027.088-.04.133s-.025.08-.037.121-.021.068-.031.1l-.073.245c-.054.183-.187.6-.037.748s.563.017.746-.037l.243-.073L1.166,9.8l.114-.035.139-.043.041-.013c.5-.154.9-.29,1.236-.41L.707,7.315Z' transform='translate(0 -0.002)'/></svg>
      .duplicate-style.icon-btn.icon-btn-left(title='Duplicate the current style.') <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 11'><defs><style>.cls-1 {fill: #e5e5e5;}</style></defs><path id='Union_19' data-name='Union 19' class='cls-1' d='M5,11V5h6v6ZM3,6H0V0H6V3H3V6H3Z'/></svg>
      .remove-style.icon-btn.icon-btn-right.icon-btn-last(title='Delete the current style.') <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 11'><defs><style>.cls-1 {fill: #e5e5e5;}</style></defs><path id='Union_17' data-name='Union 17' class='cls-1' d='M2,11a1,1,0,0,1-1-1V3H9v7a1,1,0,0,1-1,1ZM0,2V1H10V2ZM3,1A1,1,0,0,1,4,0H6A1,1,0,0,1,7,1Z'/></svg>
      .unapply-style.icon-btn.icon-btn-right(title='Remove the current style from selected text boxes.') <svg id='Group_9' data-name='Group 9' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 11'><defs><style>.cls-1 {fill: #e4e4e4;}</style></defs><path id='Path_72' data-name='Path 72' class='cls-1' d='M8.964-6A3.516,3.516,0,0,0,5.5-9,3.5,3.5,0,0,0,2-5.5,3.5,3.5,0,0,0,5.5-2,3.53,3.53,0,0,0,6-2.036V-.023C5.831-.007,5.663,0,5.5,0A5.506,5.506,0,0,1,0-5.5,5.506,5.506,0,0,1,5.5-11,5.482,5.482,0,0,1,9.218-9.55,5.485,5.485,0,0,1,10.977-6H13L10-2,7-6Z' transform='translate(0 11)'/></svg>
      <hr>
      .style-editor-tag-form.add-menu-icons
        input#style-editor-tag-all.hidden(tabindex='47', type='radio', name='style-editor-tag-name', value='all', checked)
        input#style-editor-tag-paragraph.hidden(tabindex='48', type='radio', name='style-editor-tag-name', value='paragraph')
        input#style-editor-tag-link.hidden(tabindex='49', type='radio', name='style-editor-tag-name', value='link')
        input#style-editor-tag-active.hidden(tabindex='50', type='radio', name='style-editor-tag-name', value='active')
        input#style-editor-tag-ul.hidden(tabindex='51', type='radio', name='style-editor-tag-name', value='ul')
        input#style-editor-tag-ol.hidden(tabindex='52', type='radio', name='style-editor-tag-name', value='ol')
        input#style-editor-tag-heading1.hidden(tabindex='53', type='radio', name='style-editor-tag-name', value='heading1')
        input#style-editor-tag-heading2.hidden(tabindex='54', type='radio', name='style-editor-tag-name', value='heading2')
        input#style-editor-tag-heading3.hidden(tabindex='55', type='radio', name='style-editor-tag-name', value='heading3')
        input#style-editor-tag-bold.hidden(tabindex='56', type='radio', name='style-editor-tag-name', value='bold')
        input#style-editor-tag-underline.hidden(tabindex='57', type='radio', name='style-editor-tag-name', value='underline')
        input#style-editor-tag-italic.hidden(tabindex='58', type='radio', name='style-editor-tag-name', value='italic')
        input#style-editor-tag-notext.hidden(tabindex='59', type='radio', name='style-editor-tag-name', value='notext')
        .labels.style-editor-text
          label.all.first-button(for='style-editor-tag-all', title='Edit style of all texts', data-initial-value='All', data-prodotype-name='All') All
          label.p(for='style-editor-tag-paragraph', title='Edit style of paragraphs', data-initial-value='P', data-prodotype-name='Paragraph') P
          label.a.fa.fa-link(for='style-editor-tag-link', title='Edit style of links', data-initial-value='', data-prodotype-name='Link')
          label.active.fa.fa-file(for='style-editor-tag-active', title='Edit style of links leading to the current page', data-initial-value='', data-prodotype-name='Active')
          label.ul(for='style-editor-tag-ul', title='Edit style of unordered lists', data-initial-value='UL', data-prodotype-name='UnorderedList') UL
          label.ol.last-button(for='style-editor-tag-ol', title='Edit style of ordered lists', data-initial-value='OL', data-prodotype-name='OrderedList') OL
          label.h1.first-button(for='style-editor-tag-heading1', title='Edit style of Heading1 text', data-initial-value='H1', data-prodotype-name='Heading1') H1
          label.h2(for='style-editor-tag-heading2', title='Edit style of Heading2 text', data-initial-value='H2', data-prodotype-name='Heading2') H2
          label.h3(for='style-editor-tag-heading3', title='Edit style of Heading3 text', data-initial-value='H3', data-prodotype-name='Heading3') H3
          label.b(for='style-editor-tag-bold', title='Edit style of bold text', data-initial-value='B', data-prodotype-name='Bold') B
          label.u(for='style-editor-tag-underline', title='Edit style of underlined text', data-initial-value='U', data-prodotype-name='Underline') U
          label.i.last-button(for='style-editor-tag-italic', title='Edit style of italic text', data-initial-value='I', data-prodotype-name='Italic') I
        a.help-section(href='https://github.com/silexlabs/Silex/wiki/Editor-UI#style-manager', target='_blank') Style manager help
        .prodotype-container
