div.dialog
  div.header
    div.title
      | Website settings
      button.close-btn(type='button')
  div.body
    div.left-pane
      ul.tree
        li.selected
          span Publish settings
    div.right-pane
      ul
        li
          fieldset
            legend Publication Path
            p
              | Path to the folder in wich I will publish the website. This folder content will be deleted.
            input.input-url.input-publication-path(type='text', value='')
            button.browse-btn(type='button') ...
      ul
        li
          fieldset
            legend Info
            p.
              <strong>About publication.</strong>
              <p>When you click on the File menu and then "Publish", I will generate an optimized version of your site, without the data needed to edit the file. I need a location to put this ready to go version of your site. Use the text input above to set the path you want me to use.</p>
              <strong>Hosting your website.</strong>
              <p>If you want to make your site available online, publish to a Dropbox folder, and use a service like <a target="blank" href="http://www.site44.com/">Site 44</a>, <a target="blank" href="http://cloudcannon.com/">Cloud Cannon</a>, or <a target="blank" href="https://pancake.io/">Pancake.io</a>, to get it live on the web. They are free to test, but you need to pay to use your own domain name.</p>
              <p>I recommand that you host your site yourself: publish to a location of your choice, and use an FTP client to transfer all the files to your server. Any web host can host the web sites I publish, since it is only HTML, CSS and Javascript files. In case you need one, Silex Labs foundation recommands these hosting companies:</p>
              <ul>
              <li>
              <a target="blank" href="http://www.ouvaton.org/">* Ouvaton</a> and <a target="blank" href="http://www.toile-libre.org/">Toile libre</a>, french non profit organizations with a "pay what you can" policy.
              </li>
              <li>
              <a target="blank" href="http://www.arvixe.com/2933.html">* Arvixe</a> which support Silex development since 2010.
              </li>
              </ul>
              <p>
              </p>
              <strong>Advanced users.</strong>
              <p>If you have instaleld Silex (the website editor, not your site) on your own server, you can publish to www/ so that your site will be <a target="blank" href="../">available directly here</a>.</p>
