.silex-workspace
  // file explorer
  iframe#silex-file-explorer.silex-hide-dialog.silex-modal-dialog.notranslate(
    src='./ce/cloud-explorer/cloud-explorer.html'
    frameborder='no',
    scrolling='no',
    allowfullscreen='yes')

  // menu
  include ./menu.pug

  // vertical splitter
  .vertical-splitter
    .knob

  // properties tool
  .silex-property-tool.notranslate
    include ./property-tool.pug

  // stage
  .silex-stage
    // notranslate is to prevent chrome automatic translation
    //- iframe#silex-stage-iframe.silex-stage-iframe.notranslate(src="about:blank")

  // bread crumbs
  .silex-bread-crumbs

  // dialogs background
  .dialogs-background
  .silex-modal-dialogs-background

  // settings
  .silex-settings-dialog.hidden-dialog
    include ./settings-dialog.pug

  // dashboard
  .silex-dashboard
    include ./dashboard.pug

  // text format bar
  .silex-text-format-bar
    include ./text-format-bar.pug

  // html editor
  .silex-html-editor.ace-editor-container.notranslate.hidden-dialog
    .title-bar HTML editor
      a.help-icon(href='https://github.com/silexlabs/Silex/wiki/Silex-and-HTML', title='about Silex and HTML', target='_blank') Help
    .ace-editor
    .dock-btn.buttons
    .close-btn.html-editor-close-btn.buttons

  // css editor
  .silex-css-editor.ace-editor-container.notranslate.hidden-dialog
    .title-bar CSS editor
      a.help-icon(href='https://github.com/silexlabs/Silex/wiki/Silex-CSS-editor', title='about Silex and CSS', target='_blank') Help
    .ace-editor
    .dock-btn.buttons
    .close-btn.css-editor-close-btn.buttons

  // js editor
  .silex-js-editor.ace-editor-container.notranslate.hidden-dialog
    .title-bar JS editor
      a.help-icon(href='https://github.com/silexlabs/Silex/wiki/Silex-and-Javascript', title='about Silex and Javascript', target='_blank') Help
    .ace-editor
    .dock-btn.buttons
    .close-btn.js-editor-close-btn.buttons

  .alerts.closed
  .alerts-notify
