
/** 
 * inspired by http://adamwhitcroft.com/apaxy/demo/Community/
 */

body{
	color: #61666c;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	line-height: 2em;
}
ul{
	margin: 0;
	padding: 0;
}
li.link{
	list-style-position: inside;
	padding: 0;
	outline: 0;
	border: 0;
	border-bottom: 1px solid #edf1f5;
	vertical-align: middle;
	text-align: left;
	-webkit-transition: background 300ms ease;
	-moz-transition: background 300ms ease;
	-ms-transition: background 300ms ease;
	-o-transition: background 300ms ease;
	transition: background 300ms ease;
	padding: 0 10;
}
ul>li:hover{
	background-color: #edf1f5;
}
a {
	z-index: 10;
	color: #61666c;
	text-decoration: none;
}

.up-link{
	list-style:square url(./folder-home.png);
}
.down-link{
	list-style:square url(./folder.png);
}