// $silexlightergrey: #ddd;
// $silexlightgrey: #535353;
// $silexmediumgrey: #444;
// $silexmediumdarkgrey: #393939;
// $silexdarkgrey: #2f2f2f;
// $silexdarkergrey: #2a2a2a;
// $silexlightblue: #7bc0ff;

$primaryColor:      #444;
$secondaryColor:    #ddd;
$tertiaryColor:     #5e85a8;
$quaternaryColor:   #7bc0ff;
$darkerPrimaryColor: #3d3d3d;
$lighterPrimaryColor: #575757;

$topBarHeight: 40px;
$projectBarWidth: 35px;
$pagePanelWidth: 13%;
$pagePanelMinWidth: 150px;

$transitionSpeedMedium: .25s;
$transitionSpeedSlow: .5s;

$prefix: 'gjs-';
$pn-prefix: '#{$prefix}pn-';
$cv-prefix: '#{$prefix}cv-';


