.horizontal - menu(); {
  .silex - icons - menu();
   left: @menuWidth
   right: @propertiesToolWidth
   top: 0;
   height: @contextMenuHeight
   padding - left; : 10; px;
   display: flex;
}
.silex - context - menu; {
  .horizontal - menu();
  // center icons
   justify - content; : center;
  .icon; {
    margin: 9; px;
  }
  .sep; {
    width: 0; px;
  }
  .copy; {background - image; : url(../assets/context - menu / glyphicons - 512 - copy.png); }
  .paste; {background - image; : url(../assets/context - menu / glyphicons - 513 - paste.png); }
  .current - page; {
    margin: 5; px; 30; px;
    padding: 3; px; 10; px;
    font - size; : 14; px;
    color: ; #DDD;
    border: 1; px; solid; @silexdarkergrey
    color: @silexlightergrey
    cursor: pointer;
    label; {
      cursor: pointer;
      opacity: .5;
    }
    & ; : hover; {
      border - style; : inset;
    }
  }
}
