@use "variables" as *;

// grapesjs-style-bg
@use "grapick/dist/grapick.min.css";

// grapesjs-style-border
@mixin square-borders-before {
  display: block;
  content: '' !important;
  border: 2px solid $tertiaryColor;
  width: 10px;
  height: 10px;
  margin: auto;
}
.fa-arrows::before {
  @include square-borders-before;
  border-color: $secondaryColor;
}
.fa-long-arrow-up::before {
  @include square-borders-before;
  border-top-color: $secondaryColor;
}
.fa-long-arrow-down::before {
  @include square-borders-before;
  border-bottom-color: $secondaryColor;
}
.fa-long-arrow-left::before {
  @include square-borders-before;
  border-left-color: $secondaryColor;
}
.fa-long-arrow-right::before {
  @include square-borders-before;
  border-right-color: $secondaryColor;
}

// grapesjs-notifications
.gjs-editor .gjs-notification {
  max-height: initial;
  text-align: left;
}
.gjs-editor .gjs-notification,
.gjs-editor .gjs-notification .gjs-sm-header,
.gjs-editor .gjs-notification .gjs-notification__item,
.gjs-editor .gjs-notification .gjs-notification__group > details,
.gjs-editor .gjs-notification .gjs-notification__group > details > ul,
.gjs-editor .gjs-notification .gjs-notification__group > details > summary,
.gjs-editor .gjs-notification .gjs-notification__group {
  padding: 0;
  margin: 0;
}
.gjs-editor .gjs-notification .gjs-notification__group,
.gjs-editor .gjs-notification .gjs-notification__item {
  margin: 10px 0;
  padding: 10px 0;
}

.gjs-editor .gjs-notification .gjs-notification__group .gjs-notification__item {
  margin-left: 10px;
}

// Adapting the layout of the suggestion list
.gjs-suggest {
  max-height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 7px;
  border-bottom: solid $primaryColor 7px;
}
