/* Normalize css */
@use "normalize.css/normalize";
@use "grapesjs/src/styles/scss/main";

/* Silex styles imports */
@use "silex";
@use "loader";
@use "dialog";
@use "grapesjs";
@use "project-bar";
@use "page-panel";
@use "website-info";

.container-png::before {
  content: " ";
  background-image: url("../assets/container.png");
  height: 30px;
  width: 30px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
}

