@dialogs-margin: 50px;

.silex-newwebsite-dialog {
  position: absolute;
  top: @dialogs-margin;
  left: @dialogs-margin;
  right: @dialogs-margin;
  bottom: @dialogs-margin;
  .ui {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
  }
}
