@cardHeight: 290px;
@cardWidth: 500px;
@titleHeight: 40px;
@thumbnailHeight: @cardHeight - @titleHeight;

.silex-newwebsite-dialog {
  .pane > ul {
    display: flex;
    flex-wrap: wrap;
  }
  li.rendered-item {
    height: @cardHeight;
    max-width: @cardWidth;
    width: 30%;
    margin: 15px 30px 0 0;
    list-style: none;
    flex: 1 0 auto;
    .thumbnail, h2, .ui {
      margin: 0;
    }
    .thumbnail {
      width: 100%;
      height: @thumbnailHeight;
      cursor: pointer;
      background-position: 50%;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: @silexdarkergrey;
    }
    .ui {
      height: @titleHeight;
      margin: 5px;
      display: flex;
      h3 {
        font-size: 16px;
        font-weight: lighter;
        cursor: pointer;
        margin: 0;
        flex: 1 1 auto;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      a {
        font-size: 13px;
        font-weight: lighter;
        font-style: normal;
        padding: 5px;
        color: @silexlightergrey;
        text-decoration: none;
        cursor: pointer;
        opacity: .7;
        &:before {
          padding: 0 5px;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
