
.silex-pagetool {
	padding: 0;
	position:fixed;
	left:0;
	top:90px;
	width:220px;
	height: 95%;
	overflow-y: scroll;
	background-color: #EDEDED;
	border: 1px solid #D9D9D9;
}

.silex-pagetool .page-tool-container{
	padding-left: 25px;
}
.silex-pagetool .page-tool-container .ui-selected .page-preview{
	border: 2px solid;
}
.silex-pagetool .page-container{
	overflow-x: visible;
	overflow-y: scroll;
	overflow: visible;
	text-align: center;
	margin: 10px;
	text-decoration: none;
}
.silex-pagetool .page-container .label{
	bottom: 0;
	padding: 5px;
	position: absolute;
	cursor: text;
}
.silex-pagetool .page-preview:hover {
	outline-width: 2px;
}
.silex-pagetool .page-preview{
	outline: 1px solid #D9D9D9; 
	width: 131px;
	height: 80px;
	position: relative;
	margin: auto;
	cursor: default;
	background-color: #FFFFFF;
}
.silex-pagetool .page-preview .delete{
	right: 10px;
	top: 5px;
	position: absolute;
	cursor: pointer;
}
