
@import url('http://fonts.googleapis.com/css?family=Abel');
@import url('http://fonts.googleapis.com/css?family=Oswald:400,300');

.oswald.text-element, .oswald .text-element {
    font-family: 'Oswald', sans-serif;
}

.abel.text-element, .abel .text-element {
    font-family: 'Abel', sans-serif;
}
.links a{
    color:#006CB2;
}

/* text styles formatting */
.text-element HEADER,
.text-element H1,
.text-element H2,
.text-element H3,
.text-element DIV,
.text-element P,
.text-element QUOTE {
  color: #FF3200;

}
.text-element HEADER {
  font-size: 45px;
}
/* background element */
.background{

}
.text-element.very-big *{
    font-size: 80px !important;
}
.text-shadow{
    text-shadow: -1px 2px #ff0000;
}
.full-width{
    width:100% !important;
}
.centered{
   margin: auto !important;
   position: relative !important;
}
.top{
    z-index: 100;
}
.back{
    z-index: -1;
}
.silex-runtime .fixed-menu{
    position: fixed !important;
    z-index: 120;
}
/* keywords of the footer */
.silex-runtime .discret li{
    color: black !important;
    font-size: 14px !important;
    float: left !important;
    list-style-type: none;
    margin-left: 5px;
}
.discret H1{
    color: black !important;
    font-size: 16px !important;
}
/* *************************** *
.layout-h div{
    position: static !important;
    display: inline-block !important;
}

.animated{
    display: inherit !important;
    position: absolute !important;
    left: -5000px !important;
    opacity: 0 !important;
}
.animated.paged-element{
    transition: left 0.8s !important;
}
/* *************************** */
/* github issues */
.github-issues .silex-element-content {
    overflow: auto;
}
.github-issues ul {
  margin: 0;
  padding: 0;
}
.github-issues li {
  list-style-type: none;
  margin: 0;
  padding: 3px;
  border-bottom: 1px solid #cccccc;
  font-size: 14px;
  line-height: 19px;
}
.github-issues li a {
  text-decoration: none;
  color: black;
}
.github-issues-image ul {
  text-align: center;
}
.github-issues-image li {
  display: inline;
}
.github-issues-image img {
  max-width: 47%;
  border-radius: 5px;
}
.github-issues.github-issues-white *{
  color: white;
}
.github-issues.github-issues-white li {
    border-bottom-color: #999999;
}
.github-issues.github-issues-image li {
    border-bottom: none;
}

.element-0{
	cursor: auto; left: -3px; top: 4px; background-color: rgb(0, 74, 122);
}
.element-1{
	background-color: rgb(255, 255, 255); width: 960px; height: 3222px; position: absolute; top: 5px; left: 55px; box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.498); border-radius: 0px;
}
.element-2{
	position: absolute; height: 80px; width: 294px; top: 1162px; left: 21px; background-color: transparent;
}
.element-3{
	position: absolute; height: 80px; width: 294px; top: 1162px; left: 334px; background-color: transparent;
}
.element-4{
	position: absolute; height: 80px; width: 294px; top: 1380px; left: 21px; background-color: transparent;
}
.element-5{
	position: absolute; height: 200px; width: 294px; top: 1214px; left: 21px; background-color: transparent;
}
.element-6{
	position: absolute; height: 80px; width: 294px; top: 1380px; left: 334px; background-color: transparent;
}
.element-7{
	position: absolute; height: 180px; width: 294px; top: 1425px; left: 334px; background-color: transparent;
}
.element-8{
	position: absolute; height: 80px; width: 294px; top: 1380px; left: 646px; background-color: transparent;
}
.element-9{
	position: absolute; height: 14px; width: 920px; top: 1581px; left: 23px; background-color: transparent; border-width: 1px 0px 0px; border-style: solid; border-color: rgb(0, 155, 255);
}
.element-10{
	position: absolute; height: 80px; width: 294px; top: 1580px; left: 21px; background-color: transparent;
}
.element-11{
	position: absolute; height: 170px; width: 294px; top: 1627px; left: 21px; background-color: transparent;
}
.element-12{
	position: absolute; width: 294px; top: 1580px; left: 646px; background-color: transparent; height: 80px;
}
.element-13{
	position: absolute; height: 169px; width: 294px; top: 1625px; left: 645px; background-color: transparent;
}
.element-14{
	position: absolute; height: 10px; width: 920px; top: 1381px; left: 23px; background-color: rgb(255, 255, 255); border-width: 1px 0px 0px; border-style: solid; border-color: rgb(0, 155, 255);
}
.element-15{
	position: absolute; height: 250px; width: 960px; top: 670px; left: 0px; background-color: rgb(0, 155, 255);
}
.element-16{
	position: absolute; height: 190px; width: 315px; left: 7px; top: 20px;
}
.element-17{
	position: absolute; height: 190px; width: 315px; left: 324px; top: 20px;
}
.element-18{
	position: absolute; height: 190px; width: 315px; left: 642px; top: 19px;
}
.element-19{
	position: absolute; height: 57px; width: 960px; top: 205px; left: 0px; background-color: transparent;
}
.element-20{
	position: absolute; left: 0px; background-color: rgb(0, 155, 255); height: 42px; box-shadow: 0px 1px 3px black; top: -5px;
}
.element-21{
	height: 50px; top: -5px; width: 926px; background-color: transparent; position: absolute; left: 0px;
}
.element-22{
	height: 70px; width: 140px; background-color: transparent; top: 0px; position: absolute; left: -20px;
}
.element-23{
	height: 70px; width: 140px; left: 127px; background-color: transparent; top: 0px; position: absolute;
}
.element-24{
	height: 70px; width: 163px; left: 748px; background-color: transparent; position: absolute; top: 0px;
}
.element-25{
	height: 78px; width: 159px; background-color: transparent; top: 0px; position: absolute; left: 278px;
}
.element-26{
	height: 70px; width: 140px; left: 445px; background-color: transparent; top: 0px; position: relative;
}
.element-27{
	height: 70px; width: 140px; left: 596px; background-color: transparent; top: 0px; position: absolute;
}
.element-28{
	position: absolute; height: 224px; width: 371px; top: 80px; left: 29px;
}
.element-29{
	position: absolute; height: 383px; width: 313px; top: 50px; left: 400px;
}
.element-30{
	position: absolute; height: 290px; width: 960px; top: 290px; left: 0px; background-color: transparent; background-image: url('../assets/nuages-01.png'); background-position: 0% 100%; background-repeat: no-repeat no-repeat;
}
.element-31{
	position: absolute; height: 254px; width: 960px; top: 37px; left: 2px; background-position: 0% 0%;
}
.element-32{
	height: 30px; width: 92px; top: 637px; left: 13px; position: absolute; background-color: transparent;
}
.element-33{
	height: 30px; width: 98px; top: 637px; left: 263px; position: absolute; background-color: transparent;
}
.element-34{
	height: 30px; width: 132px; top: 637px; left: 374px; position: absolute; background-color: transparent;
}
.element-35{
	height: 30px; width: 119px; top: 637px; left: 509px; position: absolute; background-color: transparent;
}
.element-36{
	position: absolute; height: 180px; width: 294px; top: 1211px; left: 646px; background-color: transparent;
}
.element-37{
	position: absolute; height: 160px; width: 294px; top: 1424px; left: 20px; background-color: transparent;
}
.element-38{
	position: absolute; height: 180px; width: 294px; top: 1425px; left: 647px; background-color: transparent;
}
.element-39{
	position: absolute; height: 80px; width: 294px; top: 1580px; left: 332px; background-color: transparent;
}
.element-40{
	position: absolute; height: 55px; width: 212px; top: 203px; left: 720px; background-color: transparent;
}
.element-41{
	position: absolute; height: 29px; width: 102px; top: 246px; left: 770px;
}
.element-42{
	position: absolute; height: 173px; width: 294px; top: 1626px; left: 334px; background-color: transparent;
}
.element-43{
	position: absolute; height: 50px; width: 212px; top: 90px; left: 720px; background-color: transparent;
}
.element-44{
	position: absolute; height: 31px; width: 115px; top: 637px; left: 634px; background-color: transparent;
}
.element-45{
	height: 30px; width: 97px; top: 637px; left: 138px; position: absolute; background-color: transparent;
}
.element-46{
	position: absolute; height: 85px; width: 212px; top: 135px; left: 720px;
}
.element-47{
	position: absolute; height: 30px; width: 52px; top: 602px; left: 414px;
}
.element-48{
	position: absolute; height: 47px; width: 47px; top: 591px; left: 163px;
}
.element-49{
	position: absolute; height: 39px; width: 39px; top: 597px; left: 549px;
}
.element-50{
	position: absolute; height: 42px; width: 42px; top: 593px; left: 38px;
}
.element-51{
	position: absolute; height: 38px; width: 38px; top: 594px; left: 293px;
}
.element-52{
	position: absolute; height: 40px; width: 40px; top: 596px; left: 671px;
}
.element-53{
	position: absolute; height: 10px; width: 920px; left: 28px; background-color: transparent; border-width: 1px 0px 0px; border-style: solid; border-color: rgb(0, 155, 255); top: 2349px;
}
.element-54{
	position: absolute; height: 432px; width: 290px; top: 2427px; left: 341px; background-color: rgb(255, 255, 255);
}
.element-55{
	position: absolute; height: 432px; width: 290px; top: 2427px; left: 33px; background-color: rgb(255, 255, 255);
}
.element-56{
	position: absolute; width: 960px; top: 2881px; left: 0px; background-color: rgb(0, 60, 100); height: 360px; border-radius: 0px;
}
.element-57{
	position: absolute; height: 70px; width: 70px; top: 25px; left: 500px;
}
.element-58{
	position: absolute; height: 70px; width: 70px; top: 25px; left: 410px;
}
.element-59{
	position: absolute; height: 70px; width: 70px; top: 25px; left: 320px;
}
.element-60{
	position: absolute; height: 70px; width: 70px; top: 24px; left: 590px;
}
.element-61{
	position: absolute; height: 70px; width: 70px; top: 23px; left: 680px;
}
.element-62{
	position: absolute; height: 79px; width: 265px; top: 20px; left: 20px;
}
.element-63{
	position: absolute; width: 920px; top: 112px; left: 20px; background-color: transparent; height: 45px;
}
.element-64{
	position: absolute; height: 70px; width: 70px; top: 23px; left: 770px;
}
.element-65{
	position: absolute; height: 70px; width: 70px; top: 23px; left: 860px;
}
.element-66{
	position: absolute; height: 183px; width: 960px; top: 174px; left: 0px; background-color: rgb(0, 146, 241);
}
.element-67{
	position: absolute; top: 2227px; background-color: transparent; height: 124px; width: 960px; left: 26px;
}
.element-68{
	position: absolute; height: 415px; width: 960px; top: 1805px; left: 0px; background-color: rgb(0, 155, 255);
}
.element-69{
	position: absolute; height: 96px; width: 610px; top: -3px; left: 22px; background-color: transparent;
}
.element-70{
	position: absolute; height: 291px; width: 609px; top: 98px; left: 22px; background-color: transparent;
}
.element-71{
	position: absolute; height: 314px; width: 294px; top: 75px; left: 650px; background-color: transparent;
}
.element-72{
	position: absolute; height: 55px; width: 287px; top: 16px; left: 653px; background-color: transparent;
}
.element-73{
	position: absolute; height: 80px; width: 294px; top: 2360px; left: 27px; background-color: transparent;
}
.element-74{
	position: absolute; width: 294px; top: 2374px; left: 646px; background-color: transparent; height: 61px;
}
.element-75{
	position: absolute; top: 930px; background-color: transparent; height: 124px; width: 960px; left: 1px;
}
.element-76{
	height: 120px; width: 960px; top: 1045px; left: -1px; position: absolute; background-color: transparent;
}
.element-77{
	position: absolute; height: 13px; width: 920px; left: 19px; background-color: transparent; border-width: 1px 0px 0px; border-style: solid; border-color: rgb(0, 155, 255); top: 1163px;
}
.element-78{
	position: absolute; height: 432px; width: 290px; top: 2427px; left: 648px; background-color: transparent;
}
.element-79{
	position: absolute; width: 294px; top: 2362px; left: 338px; background-color: transparent; height: 80px;
}
.element-80{
	position: absolute; height: 65px; width: 175px; top: 595px; left: 779px; background-color: transparent; background-position: 0% 0%;
}
.element-81{
	position: absolute; height: 148px; width: 294px; top: 1212px; left: 334px; background-color: transparent;
}
.element-82{
	position: absolute; height: 80px; width: 294px; top: 1160px; left: 647px; background-color: transparent;
}