.silex-menu{
	font-weight: 400;
	font-size-adjust: none;
}
.silex-menu .goog-menu-button{
	display: inline-block;
	cursor: default;
}
.silex-menu .website-name{
	font-family: arial,​sans-serif;
	font-size: 20px;
	font-style: italic;
	color: #000000;
	line-height: 24.65px;
	text-overflow: ellipsis;
	opacity: 0.5;
	margin: 25px 4px 1px 45px;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	font-stretch: normal;
	font-variant: normal;
	max-width: 610px;
	max-height: 50px;
	overflow: hidden;
	outline: medium none;
	outline-color: #000000;
	display: inline-block;
	outline-style: none;
	outline-width: 0px;
	position:relative;
	text-decoration: none;
}
.silex-menu .login-text{
	color: #666;
	font-size: 11px;
	font-style: normal;
	text-align: right;
	margin: 5px 10px 0 0;
	position: absolute;
	top: 0;
	right: 0;
}
.silex-menu .login-text p{
	margin: 5px 0 0 0;
}
.silex-menu .goog-menubar .goog-menu-button-caption{
	margin-right: 2px;
	margin-left: 2px;
}
.silex-menu .goog-menubar{
	font-family: Arial,​sans-serif;
	font-size: 13px;
	font-style: normal;
	color: #000000;
	line-height: 20px;
	height: 35px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 40px;
	padding-top: 0;
	padding-bottom: 5px;

	position: relative;
	white-space: nowrap;
	font-stretch: normal;
	font-variant: normal;
	outline-style: none;
	outline-width: 0px;
}
.silex-menu .goog-menu-button-open {
background: #fff;
border: 1px solid rgba(0,0,0,.2);
border-bottom: none;
-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
color: black;
}
