.silex-propertiestool{
	position: absolute;
	right: 0;
	width: 250px;
	height: 95%;
	background-color: rgb(255, 255, 255);
}
.silex-propertiestool .main-container{
	padding: 5px;
	margin: 5px;
}
/* pages */
.silex-propertiestool .pages-container .page-label{
	font-size: 13px;
	color: #555555;
	vertical-align: middle;
}
.silex-propertiestool .pages-container .page-check span{
	float: left;
}
/* link */
.silex-propertiestool .link-combo-box{
	font-size: small;
}
.silex-propertiestool .link-input-text{
	background-color: white;
	border: 1px solid;
	display: inherit;
	height: 30px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
/* buttons */
.silex-propertiestool .button{
	text-align: center;
	font-size: 13px;
}
/* tabs */
.silex-propertiestool .goog-tabpane {
	background: white;
	padding-left: 1px;
}
.silex-propertiestool .goog-tabpane-tabs {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.silex-propertiestool .goog-tabpane-cont {
	overflow: auto;
	clear: both;
	background: white;
	border: 1px solid;
	border-color: threedhighlight threedshadow threedshadow threedhighlight;
	padding: 2px;
}
.silex-propertiestool .goog-tabpane-tab, .silex-propertiestool .goog-tabpane-tab-selected {
	display: block;
	float: left;
	padding: 0px 10px;
	background: white;
	border: 1px solid;
	border-color: threedhighlight threedshadow threedface threedhighlight;
	margin: 0px;
}

.silex-propertiestool .goog-tabpane-tab {
	margin-top: 0px;
}

.silex-propertiestool .goog-tabpane-tab-selected {
	padding-bottom: 2px;
	padding-top: 2px;
	position: relative;
	top: 1px;
	font-weight: bold;
}
/* properties */
.silex-propertiestool h1,
.silex-propertiestool h2{
	background-color: #323232;
	border: 1px solid #323232;
	color: #FFFFFF;
	margin: 0;
	font-weight: bold;
}
.silex-propertiestool h1{
	padding: 10px 0 10px 12px;
	height: 15px;
	font-size: 15px;
}
.silex-propertiestool h2{
	padding: 5px 0 3px 6px;
	font-size: 12px;
}
.silex-propertiestool legend{
	font-size: 13px;
}
/* color button */
.silex-propertiestool .color-bg-button .goog-inline-block{
	display: block;
}
/* color button */
.silex-propertiestool .goog-color-menu-button-indicator{
	font-size: 12px;
	border-bottom-width: 10px;
}
/* color palette */
.silex-propertiestool .color-bg-palette{
	
}