.editable-style { 
	box-shadow: 0px 0px 1px #888888;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
.editable-style:hover { 
	box-shadow: 0px 0px 5px #888888;
}
.editable-style.silex-selected{
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .8), inset 0 0 1px 1px rgba(255, 255, 255, 0.8);
	-moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .8), inset 0 0 1px 1px rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .8), inset 0 0 1px 1px rgba(255, 255, 255, 0.8);
}
.silex-stage{
	background-color: #CCCCCC;
	height: 100%;
	position: absolute;
	left: 220px;
}
.silex-stage-body{
	height: 100%;	
	overflow: auto;
	padding-top: 5px;
	position: relative !important; /* because it is changed as body style */
}